* {
  margin: 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.formTitle {
  width: 12rem;
  margin: 1.8rem 0 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.inputForm {
  width: 17rem;
  height: 2.8rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  font-size: 1.15rem;
  padding: 12px;
  transition: border ease 600ms;
}

.inputForm:focus {
  outline: none;
  text-decoration: none;
  background: none;
  border-color: #0290ff;
}

.inputSelect {
  width: 10rem;
  height: 2.8rem;
  background: none;
  border: 1px solid #0290ff;
  background-color: #fff;
  cursor: pointer;
}

.submit {
  background: none;
  background-color: #0290ff;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}
