.bookstoreCMS {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 7.313rem 6.25rem 2rem 6.25rem;
}

.bookList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
