:root {
  --color-primary-dark-white: #e8e8e8;
}

.centerColFx {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookstoreCMS {
  width: 100vw;
  gap: 20px;
  padding: 7.313rem 6.25rem 2rem 6.25rem;
}

.bookList {
  width: 100%;
  gap: 15px;
}

.bookList::after {
  content: '';
  margin-top: 3rem;
  width: 100%;
  border: 1.5px solid var(--color-primary-dark-white);
}
