* {
  margin: 0;
}

:root {
  --color-primary: #0290ff;
  --color-primary-dark: #4386bf;
  --color-primary-white: #fff;
  --color-primary-dark-white: #e8e8e8;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.formTitle {
  width: 12rem;
  margin: 1.8rem 0 1rem;
  font-size: 1.25rem;
  letter-spacing: -0.18px;
  color: #888;
}

.inputForm {
  flex-grow: 1;
  height: 2.8rem;
  border-radius: 4px;
  border: solid 1px var(--color-primary-dark-white);
  background-color: var(--color-primary-white);
  font-size: 1.15rem;
  padding: 12px;
  transition: border ease 600ms;
}

.inputForm:focus {
  outline: none;
  text-decoration: none;
  background: none;
  border-color: var(--color-primary);
}

.inputSelect {
  width: 10rem;
  height: 2.8rem;
  background: none;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary-white);
  cursor: pointer;
}

.submit {
  background: none;
  background-color: var(--color-primary);
  color: var(--color-primary-white);
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}
